.container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 20px; /* row-gap column gap */
    padding: 99px;
    img {
        width: 100px;
    }
  
    img:hover{
        transform: scale(1.1);
    }
}

