.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family:"Roboto", "Helvetica", "Arial", sans-serif;
}

body{
  background-color:#F0FFF0 ;
  margin: 0;
  padding: 0;
  height: 100%;
}